
*.h

TIMChat/TCAdapter/TCAVIMAdapter/Libs/AVFoundationEx.FrameWork/AVFoundationEx

TIMChat/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/TLSSDK

TIMChat/TCAdapter/TIMAdapter/Framework/IMSDK/QALSDK.framework/QALSDK

TIMChat/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/QAVSDK

TIMChat/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/_CodeSignature/CodeDirectory

TIMChat/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/_CodeSignature/CodeRequirements

TIMChat/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/_CodeSignature/CodeResources

TIMChat/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/_CodeSignature/CodeSignature

TIMChat/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/Info.plist

TIMChat/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/Modules/module.modulemap

TIMChat/TCAdapter/TIMAdapter/Framework/IMSDK/IMCore.framework/IMCore

TIMChat/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/ImSDK

TIMChat/TCAdapter/TIMAdapter/Framework/IMSDK/IMSDKBugly.framework/IMSDKBugly

TIMChat/TCAdapter/TIMAdapter/Framework/IMSDK/IMSDKBugly.framework/Resources/Info.plist
